<div class='container'>
  <h2 id="title">Welcome to Ember.js</h2>
  <nav>
    <ul>
      <li>
        {{#link-to 'index'}}Index{{/link-to}}
      </li>
      <li>
        {{#link-to 'planes'}}Planes{{/link-to}}
      </li>
      <li>
        {{#link-to 'contact'}}Contact{{/link-to}}
      </li>

    </ul>
  </nav>
  {{outlet}}
</div>
